p{
    font-size: 3rem;
}
.container{
    width: 400px;
    height: 400px;
    /* background-color: rgb(211, 211, 211); */
    margin: 100px auto;
    /* text-align: center; */
    /* margin: 20px 30px 10px; */
    /* padding: 20px 30px 10px; */
    /* border-width: 50px; */
    border: 10px solid burlywood;
    border: top right radius 20px 50px;

}

.box{
    width: 400px;
    height: 100px;
    
}
.red{
    background-color: red;
    /* position: relative;
    top: 40px; */
    /* left: -30px; */
    /* position:relative; */
    top: 40px;
    right: 50px;
    
}

.green{
    background-color: green;
    /* position: absolute;
    bottom: 30px;
    right: 50px; */
}
.blue{
    background-color: blue;
    /* position: fixed;
    top: 30px; */
}
.orange{
    background-color: orange;
   
}
/* .max-height{
    height: 200vh;
} */

img{
    float: right;
}